@media screen and (min-width: 428px) {
    .container {
        width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }

    .about-item {
       width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

        .about-description-icon {
            display: flex;
        }
}